.box
{
    width: 100%;
    height: 40px;
    background-color: black;
    
}
.form_background
{
    background-color: cadetblue;
}
.form__container
{

    display: flex;
    margin: 0 100px;
    background: rgb(219, 218, 218);
}
.cart_wrapper
{
    flex: 0 0 350px;
    background-color:ghostwhite;
    align-items: center;
}
.cart_wrapper .header__cart-list-item
{
    overflow:visible;
    border-color: black;
    border-style: solid;
}
.cart_wrapper .header__cart-item
{
    background-color: white;
    padding: 10px;
}
.form__detail
{
    flex :2;
    font-size: 1vw;
    
    
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0,0,0, 0.1);
    top: 3%;
    left: 15%;
}
.form__heading
{
    padding-top: 20px;
    color:  black;
}
.form__row
{

    height: 8vh;
    width: 100%;
    position: relative;
}
.form__row .form_input
{
    height: 70%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1.5px solid gray;
}
.form__row .form_input:focus ~ label,
.form__row .form_input:valid ~ label
{
    transform: translateY(-20px);
    font-size: 1vw;
    color: black;
    font-weight: bold;
    transition: .3s;
}
.form__row .form_label
{
    position: absolute;
    top: 10px;
    left: 0;
    color:grey;
    pointer-events: none;
}
.form__row .form_input_date ~ label
{
    font-size: 1vw;
    color: black;
}

.form_label
{
    font-size: 1.2vw;
    height: 5vh;
    min-width: 15vw;
}
.radio__wrapper
{
    width: 100%;
    
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px ;
    box-shadow: 0 0 5px rgba(0,0,0, 0.25);
    
}
.radio__mark
{
    display: none;
}
.radio__label
{
    padding: 2vh 4vw;
    color: white;
    background: black;
    cursor: pointer;
    transition: background 0.1s;
    flex-grow: 1;
}
.radio__label:hover
{
    background-color: rgb(61, 61, 134);
    font-size: 1.1vw;
    transition: 0.3s;
}
.radio__label:not(:last-of-type)
{
    border-right: 1px solid white;
}
.radio__mark:checked + .radio__label
{
    background: lightblue;
    color:  black;
}
.bill_content
{
    margin-top: 30px;
}

.submit_button_wrap
{
    width: 100%;
    height: 40px;
    background: linear-gradient(90,red,green);
    position: relative;
    border-radius: 50px;
}
.submit_button
{
    width: 100%;
    height: 100%;
    border-radius:  50px;
    background-color: black;
    outline: none;
    font-size: 1.5vw;
    color: white;
}
.submit_button:hover
{
    background-color: lightblue;
    font-size: 2vw;
    transition: 0.3s;
}
