.sc_controls{
    justify-content: flex-end;
    margin-top: 20px;
}
.sc_header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: inherit;
}
.sc_icon{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: inherit;
}
.sc_btn{
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: #000000;
}
.sc_btn__back:hover
{
    background-color: #333333;
}